[Unit]
Description=Run CGAL Docker testsuite

[Service]
Type=notify
EnvironmentFile=%h/.config/systemd/user/environment
WorkingDirectory=/home/lrineau/Git/cgal-testsuite-dockerfiles
ExecStart=/usr/bin/python3 %h/Git/cgal-testsuite-dockerfiles/test_cgal.py --use-fedora-selinux-policy --force-rm --max-cpus 20 --container-cpus 8 --jobs 10 --upload-results --images @%h/.config/CGAL/test_cgal_docker_images
Slice=cgal-testsuite.slice
